{% extends "base.html" %}
{% block body %}
<div class="containers">
        <div class="card-header">
          <h1>Be a part of our community today.</h1>
        </div>
        <div class="card-body">
          <h5 class="card-title">Email</h5>
          <h2 class="card-text">fellola234@gmail.com</h2>
          <br>
        </div>
        <h5 class="card-title">Email, "name" and "password" you want for your account.</h5>
        <br>
        <h5 class="card-title">We will contact you shortly once we receive your email.</h5> 
        <br>
        <h5 class="card-title">Any type of inappropriate behaviour noticed by your account we will be considered under offense and your account will be immediately removed.</h5>   
        <br>
        <h5 class="card-title">Once the account is made you won't be able to change your password.</h5>
        <br>
</div>
{% endblock body %}